@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  font-family: "Space Grotesk", sans-serif !important;
}

.card-section {
  background: url(./images/bg-main-mobile.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards-container {
  position: relative;
  padding-top: 32px;
  padding-bottom: 51px;
  margin: auto;
}

.cvc-example {
  font-size: 9px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 1.29px;
  position: absolute;
  z-index: 1;
  margin-left: 305px;
  margin-top: 70px;
}

.card-logo {
  position: absolute;
  z-index: 1;
  margin-top: 105px;
  margin-left: 35px;
}

.card-number-example {
  position: absolute;
  z-index: 1;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 2.2px;
  margin-top: 182px;
  margin-left: 35px;
}

.name-example {
  position: absolute;
  z-index: 1;
  font-size: 9px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 1.29px;
  margin-top: 215px;
  margin-left: 35px;
}

.date-example {
  position: absolute;
  z-index: 1;
  font-size: 9px;
  font-weight: 500;
  letter-spacing: 1.29px;
  color: #fff;
  margin-top: 215px;
  margin-left: 250px;
}

#card-back {
  display: block;
  width: 286px;
  height: 157px;
  margin-left: 73px;
  position: relative;
}

#card-front {
  width: 285px;
  height: 156px;
  position: absolute;
  margin-left: 17px;
  margin-top: -68px;
}

.user-container {
  padding: 91px 24px 45px 24px;
}

.user-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form h3 {
  font-size: 12px;
  font-weight: 500;
  color: #21092f;
  letter-spacing: 2px;
}

.for-number h3,
.for-date h3,
.for-cvc h3 {
  margin-top: 20px;
}

form input {
  margin-top: 9px;
  width: 327px;
  height: 45px;
  border: solid 1px#dfdee0;
  border-radius: 8px;
  background-color: #fff;
  font-size: 14px;
  font-weight: 500;
  color: #21092f;
  text-indent: 12px;
  font-family: "Space Grotesk", sans-serif !important;
  /* background-image: linear-gradient(white, white),
    linear-gradient(112deg, #6348fe -27%, #610595 5%);
  background-origin: border-box;
  background-clip: padding-box, border-box; */
}

/* form input:focus {
  outline: none;
  border-color: transparent;
  background-image: linear-gradient(white, white),
    linear-gradient(112deg, #6348fe -27%, #610595 5%);
} */

.for-date input {
  width: 72px;
}

.for-cvc input {
  width: 164px;
  margin-left: 10px;
}

.for-cvc h3 {
  margin-left: 10px;
}

form input::placeholder {
  font-size: 18px;
  font-weight: 500;
  color: #21092f;
  opacity: 0.25;
  font-family: "Space Grotesk", sans-serif !important;
  text-indent: 16px;
}

.for-date,
.for-cvc {
  display: inline-block;
}

#name-blank-error,
#card-number-error,
#card-number-blank-error,
#date-blank-error,
#cvc-blank-error {
  font-size: 12px;
  font-weight: 500;
  color: #ff5050;
  margin-top: 8px;
  display: none;
}

#confirm {
  width: 327px;
  height: 53px;
  background-color: #21092f;
  border-radius: 8px;
  border: none;
  margin-top: 28px;
}

/* .second {
  margin-bottom: 28px;
} */

#confirm p {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  font-family: "Space Grotesk", sans-serif !important;
}

.success {
  margin-top: 91px;
  padding-bottom: 82px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#success-picture {
  width: 80px;
  height: 80px;
}

.success h4 {
  font-size: 28px;
  font-weight: 500;
  color: #21092f;
  letter-spacing: 3.42px;
  margin-top: 35px;
}

.success p {
  font-size: 18px;
  font-weight: 500;
  color: #8f8694;
  margin-top: 16px;
}

#continue {
  width: 327px;
  height: 53px;
  background-color: #21092f;
  border-radius: 8px;
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#continue p {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  text-align: center;
}

.success {
  display: none;
}

@media (min-width: 1440px) {
  body main {
    display: flex;
    flex-direction: row;
    gap: 349px;
  }

  .card-section {
    background: url(./images/bg-main-desktop.png);
    background-size: cover;
    width: 483px;
    display: block;
  }

  .cards-container {
    padding-top: 0;
    padding-bottom: 0;
  }

  #card-back {
    width: 447px;
    height: 245px;
    margin-left: 258px;
    margin-top: 469px;
  }

  #card-front {
    width: 447px;
    height: 245px;
    margin-left: 164px;
    margin-top: -530px;
  }

  .cvc-example {
    font-size: 14px;
    letter-spacing: 2px;
    margin-left: 615px;
    margin-top: 110px;
  }

  .card-logo {
    margin-top: -260px;
    margin-left: 195px;
  }

  .card-number-example {
    font-size: 28px;
    letter-spacing: 3.42px;
    margin-left: 195px;
    margin-top: -140px;
    width: 100%;
  }

  .name-example {
    font-size: 14px;
    letter-spacing: 2px;
    margin-left: 195px;
    margin-top: -85px;
  }

  .date-example {
    font-size: 14px;
    letter-spacing: 2px;
    margin-top: -80px;
    margin-left: 530px;
  }

  .user-container {
    padding: 275px 0 273px 0;
  }

  .for-number h3,
  .for-date h3,
  .for-cvc h3 {
    margin-top: 26px;
  }

  .for-name input,
  .for-number input {
    width: 381px;
  }

  .for-date input {
    width: 80px;
  }

  .for-cvc input {
    width: 191px;
    margin-left: 20px;
  }

  #confirm {
    width: 381px;
    border-radius: 8px;
    margin-top: 40px;
  }

  #continue {
    width: 381px;
  }

  .success {
    display: flex;
    flex: column;
    align-items: center;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: 305px 0 304px 0;
    display: none;
  }

  .user-container {
    display: block;
  }
}
